name: Manual Maven Test + Allure Report

on:
 workflow_dispatch:

jobs:
 run-tests:
  runs-on: ubuntu-latest

  steps:
   - name: Checkout repository
     uses: actions/checkout@v4

   - name: Set up JDK 17
     uses: actions/setup-java@v4
     with:
      distribution: temurin
      java-version: 17

   - name: Cache Maven dependencies
     uses: actions/cache@v4
     with:
      path: ~/.m2/repository
      key: maven-${{ runner.os }}-${{ hashFiles('**/pom.xml') }}
      restore-keys: |
       maven-${{ runner.os }}-

   - name: Install Allure CLI
     run: |
      sudo apt-get update
      sudo apt-get install -y wget unzip
      wget https://github.com/allure-framework/allure2/releases/download/2.29.0/allure-2.29.0.zip
      unzip allure-2.29.0.zip
      sudo mv allure-2.29.0 /opt/allure
      sudo ln -s /opt/allure/bin/allure /usr/bin/allure

   - name: Run Maven tests
     run: mvn clean test -Dbrowser=chrome -Dheadless=true

   - name: Generate Allure report (single file)
     run: |
      allure generate target/allure-results --clean --single-file -o target/allure-report

   - name: Upload Allure report artifact
     uses: actions/upload-artifact@v4
     with:
      name: allure-report
      path: target/allure-report
